h5{
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 10px;
}

.main{
    display: flex;

}
.item{
    height: 250px;
    width: 225px;
    background-color:whitesmoke;
    margin: 10px;
    border-radius: 10px;
}
.item2{
    height: 150px;
    width: 225px;
    background-color:whitesmoke;
        margin: 10px;
        border-radius: 10px;

}
.item3{
    height: 150px;
    width: 225px;
    background-color:whitesmoke;
        margin: 10px;
            border-radius: 10px;
}
p{
    margin-top: -10px;
    margin-left: 10px;
}
button{
    border-radius: 5px;
    background-color: rgb(125, 239, 125);
    height: 30px;
    margin-left: 10px;
}
h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -1px;
    margin-left: 10px;
}